@import url("https://fonts.googleapis.com/css2?family=Gorditas&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Andika&display=swap");

.map-main{
  color: #848484;
  background-color: #f3f3f3;
  font-family: "Gorditas", sans-serif;
  padding-top: 0.1rem;
  width: 100%
}

.main {
  color: #848484;
  background-color: #f3f3f3;
  font-family: "Gorditas", sans-serif;
  letter-spacing: 0em;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 2vw;
  padding: 0vh 6vh 5vh 6vh;
}

.rightmain {
  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: 1vw;
}

/* order now */
.order-now {
  position: relative;
}

.order-now > img {
  width: 100%;
}

.order-now-btn {
  position: absolute;
  top: 88%;
  left: 45%;
  color: white;
  background-color: #68BA27;
  border: 1rem;
  border-radius: 2rem;
  padding: 1rem 2rem;
  text-align: center;
  font-size: 1rem;
  transition: all 0.3s ease;
  font-weight: bold;
}


.order-now-btn:hover {
  color: #58b310;
  background-color: white;
  border: 0.1rem solid #68BA27;
  transform: scale(1.2);
}

/* stores */
.stores {
  display: grid;
  gap: 3vh;
}

.store1 {
  background-color: white;
  height: 95%;
}

.store1-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2vh;
  height: 8%;
}

.store1-text:hover {
  background-color: #58b310;
  color: white;
}

/* ######### */
.img-featured {
  display: flex;
  gap: 2vh;
  padding: 0vh 2vh;
  padding-top: 2vh;
  width: 98%;
  position: relative; 
}

.img-featured-overlay{
  height: 350px;
  width: 500px;
  background-image: url('../../public/assests/images/woodenstore.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.img-featured-overlay .h1 {
  text-align: center;
  font-size: 40px;
  color: white;
  transition: font-size 0.5s ease, right 0.3s ease, top 0.3s ease, left 0.3s ease, transition-delay 0.3s;
}

.img-featured-overlay:hover .h1 {
  font-size: 35px;
  align-items: center;
  transition-delay: 0.3s;
  z-index: 9999;
}

.img-featured-overlay {
  position: relative;
  width: 100%;
}
.overlay{
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.img-featured-overlay:hover .overlay{
  background-color: hsla(0, 0%, 13%, 0.545);
}

.overlay-address {
  display: flex;
  flex-direction: column;
  font-family: "Montserrat";
  width: 100%;
  color: white;
  position: relative;
  opacity: 0;
  transition: opacity 0.5s ease;
  z-index: 1;
}

.img-featured-overlay:hover .overlay-address{
  opacity: 1;
}

.div1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  width: 100%;
  height: auto;
  position: absolute;
  top: 30px;
}

.div1 > p{
  font-size: 20px;
  width: 50%;
  height: 100%;
  padding-left: 15px;
}

.div1 > h6 {
  position: absolute;
  top: 20%;
  left: 70%;
  font-size: 14px;
  padding-right: 15px;
}

.div2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: absolute;
  top: 90px;
}

.div2 > p {
  font-size: 1rem;
  margin-left: 15px;
}

.div2 > span {
  font-size: 1.2rem;
  margin-right: 15px;
  color: #ffb800;
}

/* ######## */

.carousel-div{
  width: 70vw;
  height: 100%;
}

.carousel-item{
  width: 98%;
  position: relative;
  overflow: hidden;
  transition: font-size 0.5s ease, right 0.3s ease, top 0.3s ease, left 0.3s ease, transition-delay 0.3s;
}

.carousel-item-img{
  width:10rem;
}

.carousel-item img {
  width: 100%;
  padding: 2%;
  transition: filter 0.5s ease;
}

.carousel-item:hover img {
  filter: brightness(70%) blur(2px);
}

.carousel-item .h1 {
  position: absolute;
  color: white;
  text-align: center;
  font-size: 2.5rem;
  width: 100%;
  top: 45%;
  transform: translateY(-50%);
  transition: font-size 0.5s ease, right 0.3s ease, top 0.3s ease, left 0.3s ease, transition-delay 0.3s;
}

.carousel-item:hover .h1 {
  transition-delay: 0.3s;
  font-size: 2rem;
  top: 40%;
}

.carousel-text {
  position: absolute;
  font-family: "Montserrat";
  color: white;
  text-align: center;
  font-size: 2rem;
  top: 50%;
  opacity: 0;
  transform: translateY(-50%);
  transition: opacity 0.5s ease, font-size 0.5s ease, top 0.3s ease, transition-delay 0.3s;
}

.carousel-item:hover .carousel-text {
  opacity: 1;
  top: 70%; 
  transition-delay: 0.3s;
}

.carousel-text > h4 {
  font-size: 1.2rem;
  margin-bottom: 0.1rem;
  padding-left: 2rem;
  width: 50%;
  text-align: left;
}

.carousel-text > p {
  font-size: 18px;
  position: absolute;
  top: 95%;
  right: 80%;
}

.carousel-text > h6 {
  font-size: 1rem;
  position: absolute;
  left: 98%;
  top: 30%;
  width: 50%;
  text-align: right;
}

.carousel-text > span {
  width: 100%;
  font-size: 30px;
  position: absolute;
  left: 80%;
  color: #ffb800; 
}

/* $$$$ */
.storeimg {
  position: relative;
}

.storeimg > img {
  width: 100%;
  transition: filter 0.5s ease;
}

.storeimg > img:hover {
  filter: brightness(70%) blur(3px);
}

.image-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: right;
  color: white;
  font-size: 24px;
}

.image-overlay > h2 {
  color: #68BA27;
}

.image-overlay > p {
  font-family: "Andika";
}

.storeimg > .image-overlay {
  display: none;
  position: absolute;
  top: 50%;
  left: 60%;
  transform: translate(-50%, -50%);
  text-align: rigth;
  right: 0;
  font-size: 30px;
}

.storeimg:hover > .image-overlay {
  display: block;
}

.image-with-overlay {
  position: relative;
}

.image-with-overlay:hover .image-overlay {
  display: block;
}

/* near me */
.nearme {
  background-color: #f3f3f3;
  color: white;
  margin: 1.5rem 3rem 1rem;
  position: relative;
}

.nearme-text {
  display: flex;
  background-color: #000000;
  justify-content: space-between;
  padding-left: 2vh;
  padding-right: 2vh;
  height: 2.5rem;
  align-items: center;
}

.nearme-text:hover {
  background-color: #58b310;
  color: white;
}

.nearme-text > h3 {
  display: flex;
  justify-content: space-between;
  gap: 1vh;
}

.location > img {
  width: 100%;
}

.mapcard {
  position: absolute;
  max-height: 85%;
  top: 8%;
  background-color: #222222;
  border: 1px solid #222222;
  padding: 20px;
  max-width: 22rem;
  margin-left: 1.5%;
  box-shadow: 0 4px 8px #222222;
}

.mapcard-search {
  /* background-color: #848484; */
}

.mapcard-search > h1 {
  margin: 0%;
}

.mapcard-search > p {
  font-size: 0.8rem;
  margin-top: 2%;
  margin-bottom: 2%;
}

.mapcard-search > input {
  height: 1.7rem;
  width: 65%;
  border: none;
  border-radius: 0.5rem;
  background-color: #D9D9D9;
  margin-bottom: 3%;
}

.mapcard-search > button {
  margin-left: 1rem;
  width: 29%;
  height: 1.8rem;
  border: none;
  border-radius: 0.5rem;
  background-color: #58B310;
  color: white;
  font-family: "Montserrat";
  transition: delay 0.3s ease-in-out;
}

.mapcard-search > button:hover {
  color: #222222;
  background-color: white;
  transition-delay: 0.3s;
}

.mapcard-search > a {
  color: white;
  font-family: "Montserrat";
  font-size: 1.7vh;
}

.mapcard-search .direction {
  padding-left: 40%;
}

.filter-result {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 1.5rem;
  font-size: 0.9rem;
}

.filter-result > p:last-child {
  cursor: pointer;
}

.store-slider {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  width: 102%;
}

.vertical-slider {
  flex-direction: column;
  overflow-y: auto;
  scroll-snap-type: y mandatory;
  max-height: 400px; 
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
}

.vertical-slider::-webkit-scrollbar {
  width: 6px; 
}

.vertical-slider::-webkit-scrollbar-thumb {
  background-color: transparent;
}

.store-info {
  scroll-snap-align: start;
  flex: 0 0 auto;
  transition: opacity 0.3s ease;
}

.store-info.active {
  opacity: 1;
}

.store-info {
  background-color: white;
  color: #222222;
  margin-top: 5%;
  overflow: hidden;
}

.store-info img {
  width: 91%;
  padding: 1rem;
  max-height: 250px;
  object-fit: cover;
  transition: transform 0.5s ease;
}

.store-info img:hover {
  transform: scale(1.05); 
  background-color: #f3f3f3;
}

.serial-no {
  display: flex;
  align-items: flex-start;
  height: 3rem;
  padding-left: 0.5rem;
  padding-right: 1rem;
}

.serial-no > p:first-child {
  font-family: "Montserrat";
  font-weight: bold;
}

.serial-no > p:last-child {
  font-family: "Montserrat";
  color: #958585;
  font-size: 0.9rem;
  padding-top: 0.2rem;
}

.timing {
  font-family: "Montserrat";
  font-size: 80%;
  font-weight: bold;
  padding-left: 5%;
}

.contact { 
  margin-bottom: 1rem;
}

.contact > a{
  color: #222222;
  font-family: "Montserrat";
  font-size: 80%;
  font-weight: bold;
  padding-left: 5%;
}

.contact > a:first-child {
  padding-right: 10%;
}

.contact > a:last-child {
  padding-left: 10%;
}

/* ratings */
.rating {
  background-color: white;
}

.rating-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 2vh;
  padding-right: 2vh;
  height: 2.5rem;
}

.rating-text:hover {
  background-color: #58b310;
  color: white;
}

.img-rating {
  display: flex;
  justify-content: space-between;
  gap: 2vh;
  margin-top: 0.5rem;
}

.ratingimg {
  padding: 2vh;
}

.ratingimg > img {
  width: 100%;
}

.ratingimg > p {
  font-family: "Andika";
  color: #000000;
  width: 100%;
}

.ratingimg:hover {
  transform: scale(1.05);
  background-color: #f3f3f3;
}

.name-rating {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.name-rating > h4 {
  color: black;
}

.name-rating > span {
  color: #ffb800;
}

@media (min-width: 768px) {
  .main {
    grid-template-columns: 1fr 3fr;
  }

  .rightmain {
    grid-template-rows: 2fr 5fr;
  }
}

@media (max-width: 768px) {
  .stores {
    grid-template-columns: 1fr;
  }

  .store1,
  .storeimg {
    padding-left: 2vh;
    padding-right: 2vh;
  }

  .img-featured {
    flex-direction: column;
    gap: 2vh;
  }

  .img-featured > img {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .order-now > img {
    max-width: 100%;
    height: auto;
  }
}

/* General styles for smaller screens */
@media (max-width: 768px) {
  .main {
    grid-template-columns: 1fr;
    gap: 1vw;
    padding: 3vh 2vh 5vh 2vh;
  }

  .rightmain {
    grid-template-rows: auto;
  }

  .stores,
  .store1,
  .storeimg {
    padding-left: 2vh;
    padding-right: 2vh;
  }

  .img-featured {
    flex-direction: column;
    gap: 2vh;
  }

  .img-featured > img {
    width: 100%;
  }

  .order-now > img {
    max-width: 100%;
    height: auto;
  }
}

/* Larger screens */
@media (min-width: 769px) {
  .main {
    grid-template-columns: 1fr 3fr;
    gap: 2vw;
    padding: 3vh 6vh 5vh 6vh;
  }

  .rightmain {
    grid-template-rows: 2fr 5fr;
  }
}

@media (max-width: 428px) {
  .main {
    gap: 1vw;
    padding: 2vh 2vh 4vh 2vh;
  }

  .rightmain {
    grid-template-rows: auto;
  }

  .stores,
  .store1,
  .storeimg {
    padding-left: 2vh;
    padding-right: 2vh;
  }

  .img-featured {
    flex-direction: column;
    gap: 2vh;
  }

  .img-featured > img {
    width: 100%;
  }

  .order-now > img {
    max-width: 100%;
    height: auto;
  }
}
