@import url("https://fonts.googleapis.com/css2?family=Gorditas&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Andika&display=swap");

.main {
  color: #848484;
  background-color: #f3f3f3;
  font-family: "Gorditas", sans-serif;
  letter-spacing: 0em;
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 2vw;
  padding: 3vh 6vh 5vh 6vh;
}

.rightmain {
  display: grid;
  grid-template-rows: 2fr 5fr;
  gap: 1vw;
}

/* order now */
.order-now {
  position: relative;
}

.order-now > img {
  width: 100%;
}

.order-now-btn {
  position: absolute;
  top: 88%;
  left: 45%;
  color: white;
  background-color: #68BA27;
  border: 1rem;
  border-radius: 2rem;
  padding: 1rem 2rem;
  text-align: center;
  font-size: 1rem;
  transition: all 0.3s ease;
  font-weight: bold;
}


.order-now-btn:hover {
  color: #58b310;
  background-color: white;
  border: 0.1rem solid #68BA27;
  transform: scale(1.2);
}

/* stores */
.stores {
  display: grid;
  gap: 2vh;
}

.store1 {
  background-color: white;
}

.store1-text {
  display: flex;
  justify-content: space-between;
  padding: 0 2vh;
}

.store1-text:hover {
  background-color: #58b310;
  color: white;
}

/* ######### */
.img-featured {
  display: flex;
  gap: 2vh;
  padding: 2.5vh 2vh;
  width: 100%;
  position: relative;
}

.img-featured-overlay{
  width: 48%;
  position: relative;
}

.img-featured > img {
  width: 100%;
  transition: filter 0.5s ease;
}

.img-featured> img:hover {
  filter: brightness(70%) blur(3px);
}

.img-featured-overlay img {
  width: 100%;
  transition: filter 0.5s ease;
}

.img-featured-overlay img:hover {
  filter: brightness(70%) blur(3px);
}

.overlay-text {
  position: absolute;
  color: white;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.5s ease;
}

.overlay-text > h1 {
  margin-bottom: 140px;
}

.overlay-text > h4 {
  font-size: 1.4rem;
  position: absolute;
  bottom: 1%;
  right: 90%;
  margin-top: 50%; 
}

.overlay-text > p {
  font-size: 20px;
  position: absolute;
  right: 100%;

}

.overlay-text > span {
  font-size: 30px;
  position: absolute;
  left: 100%;
  color: #ffb800; 
}

.img-featured-overlay:hover .overlay-text {
  opacity: 1;
}


/* ######## */

.carousel-div{
  width: 70vw;
}

.carousel-item{
  width:39rem;
  margin: 10px;
}

.carousel-item-img{
  width:10rem;
}



/* $$$$ */
.storeimg {
  position: relative;
}

.storeimg > img {
  width: 100%;
  transition: filter 0.5s ease;
}

.storeimg > img:hover {
  filter: brightness(70%) blur(3px);
}

.image-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: right;
  color: white;
  font-size: 24px;
}

.image-overlay > h2 {
  color: #68BA27;
}

.image-overlay > p {
  font-family: "Andika";
}

.storeimg > .image-overlay {
  display: none;
  position: absolute;
  top: 50%;
  left: 60%;
  transform: translate(-50%, -50%);
  text-align: rigth;
  right: 0;
  font-size: 30px;
}

.storeimg:hover > .image-overlay {
  display: block;
}

.image-with-overlay {
  position: relative;
}

.image-with-overlay:hover .image-overlay {
  display: block;
}

/* near me */
.nearme {
  background-color: white;
}

.nearme-text {
  display: flex;
  justify-content: space-between;
  padding-left: 2vh;
  padding-right: 2vh;
}

.nearme-text:hover {
  background-color: #58b310;
  color: white;
}

.nearme-text > h3 {
  display: flex;
  justify-content: space-between;
  gap: 1vh;
}

.location > img {
  width: 100%;
}

/* ratings */
.rating {
  background-color: white;
  padding-bottom: 3vh;
  margin-top: 20vh;
}

.rating-text {
  display: flex;
  justify-content: space-between;
  padding-left: 2vh;
  padding-right: 2vh;
}

.rating-text:hover {
  background-color: #58b310;
  color: white;
}

.img-rating {
  display: flex;
  justify-content: space-between;
  gap: 2vh;
}

.ratingimg {
  padding: 2vh;
}

.ratingimg > img {
  width: 100%;
}

.ratingimg > p {
  font-family: "Andika";
  color: #000000;
  width: 100%;
}

.ratingimg:hover {
  transform: scale(1.05);
  background-color: #f3f3f3;
}

.name-rating {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.name-rating > h4 {
  color: black;
}

.name-rating > span {
  color: #ffb800;
}

@media (min-width: 768px) {
  .main {
    grid-template-columns: 1fr 3fr;
  }

  .rightmain {
    grid-template-rows: 2fr 5fr;
  }
}

@media (max-width: 768px) {
  .stores {
    grid-template-columns: 1fr;
  }

  .store1,
  .storeimg {
    padding-left: 2vh;
    padding-right: 2vh;
  }

  .img-featured {
    flex-direction: column;
    gap: 2vh;
  }

  .img-featured > img {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .order-now > img {
    max-width: 100%;
    height: auto;
  }
}

/* General styles for smaller screens */
@media (max-width: 768px) {
  .main {
    grid-template-columns: 1fr;
    gap: 1vw;
    padding: 3vh 2vh 5vh 2vh;
  }

  .rightmain {
    grid-template-rows: auto;
  }

  .stores,
  .store1,
  .storeimg {
    padding-left: 2vh;
    padding-right: 2vh;
  }

  .img-featured {
    flex-direction: column;
    gap: 2vh;
  }

  .img-featured > img {
    width: 100%;
  }

  .order-now > img {
    max-width: 100%;
    height: auto;
  }
}

/* Larger screens */
@media (min-width: 769px) {
  .main {
    grid-template-columns: 1fr 3fr;
    gap: 2vw;
    padding: 3vh 6vh 5vh 6vh;
  }

  .rightmain {
    grid-template-rows: 2fr 5fr;
  }
}

@media (max-width: 428px) {
  .main {
    gap: 1vw;
    padding: 2vh 2vh 4vh 2vh;
  }

  .rightmain {
    grid-template-rows: auto;
  }

  .stores,
  .store1,
  .storeimg {
    padding-left: 2vh;
    padding-right: 2vh;
  }

  .img-featured {
    flex-direction: column;
    gap: 2vh;
  }

  .img-featured > img {
    width: 100%;
  }

  .order-now > img {
    max-width: 100%;
    height: auto;
  }
}
